In [1]:
import pandas as pd

## View the data

In [4]:
data = pd.read_csv('../Data/News/data_articles_2020-01-01_2020-01-08.csv', sep=';', encoding='utf-8', lineterminator='\n')

In [5]:
data.head()

,Title,Content,Date,URL,Cleaned Article
0,"Sentimen Kenaikan Cukai Reda, Saham Rokok Mul...",\r ADVERTISEMENT\r \r SCROLL TO CONTINUE WITH...,06-01-2020,https://www.cnnindonesia.com/ekonomi/202001060...,NaN
1,Jumlah Kapal Asing di Natuna Tembus Seribu pe...,\r ADVERTISEMENT\r \r SCROLL TO CONTINUE WITH...,05-01-2020,https://www.cnnindonesia.com/ekonomi/202001051...,NaN
2,Konsultan AS dan China Minat Kembangkan Desai...,\r ADVERTISEMENT\r \r SCROLL TO CONTINUE WITH...,03-01-2020,https://www.cnnindonesia.com/ekonomi/202001031...,NaN
3,\r Saham Blue Chip Bisa Digoreng Juga?...,\r ADVERTISEMENT\r \r SCROLL TO CON...,02-01-2020,https://finance.detik.com/bursa-dan-valas/d-48...,NaN
4,\r 37 Cabang BCA Tutup Gara-gara Banji...,\r ADVERTISEMENT\r \r SCROLL TO CON...,02-01-2020,https://finance.detik.com/moneter/d-4843734/37...,NaN

In [2]:
df = pd.read_csv('../Data/Final Dataset/indobert_pca.csv')
sffrnews = pd.read_csv('../Data/SFFRNEWS_Index.csv')

In [11]:
# find the corelation between the news in sffrnews and the stock price
# merge the dataframes on df

df['Date'] = pd.to_datetime(df['Date'])
sffrnews['Date'] = pd.to_datetime(sffrnews['Date'])

               Close  Sentiments
Close       1.000000    0.053335
Sentiments  0.053335    1.000000