In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../Data/News/combined_data_with_sentiment.csv')

In [3]:
df

            Date                                              Title sentiment
0     2020-01-01  Mengenal Lagi Naturalisasi, Cara Anies Basweda...  positive
1     2020-01-01  Streaming! Upaya Sarinah Menjadi Pusat Pengemb...  positive
2     2020-01-01  Terungkap! Pembeli Pejaten Village Juga Invest...  positive
3     2020-01-01  Perhatikan 5 Pertanyaan Ini Sebelum Merancang ...   neutral
4     2020-01-02                Saham Blue Chip Bisa Digoreng Juga?   neutral
...          ...                                                ...       ...
5420  2024-09-25  IHSG Diprediksi Menguat, Simak Analisis dan Re...  positive
5421  2024-09-25  Bikin Investor Happy, The Fed Diprediksi Bakal...  positive
5422  2024-09-26  Suku Bunga Turun, Kemenperin Optimis Iklim Usa...  positive
5423  2024-09-26          Kurang Darah, IHSG ke Zona Merah Pagi Ini  negative
5424  2024-09-30  The Fed Bakal Beri Kejutan, Diprediksi Pangkas...  negative

[5425 rows x 3 columns]

In [4]:
# if positive change to 1, if negative change to -1, if neutral change to 0, then count the average sentiment for each day
df['sentiment'] = df['sentiment'].apply(lambda x: 1 if x == 'positive' else -1 if x == 'negative' else 0)

df['Date'] = pd.to_datetime(df['Date'])

In [6]:
df = df.groupby('Date').mean()

C:\Users\HP VICTUS 16\AppData\Local\Temp\ipykernel_29500\165345996.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby('Date').mean()

In [7]:
df

            sentiment
Date
2020-01-01   0.750000
2020-01-02  -0.333333
2020-01-03   0.666667
2020-01-04   1.000000
2020-01-05   1.000000
...               ...
2024-09-23   0.142857
2024-09-24  -0.142857
2024-09-25  -0.083333
2024-09-26   0.000000
2024-09-30  -1.000000

[1534 rows x 1 columns]

In [8]:
df.to_csv('../../Data/News/average_sentiment_per_day.csv')